<header>
    {{>public-navbar}}
</header>
<main>
    <h1 class="text-center my-4">{{title}}</h1>
    <div class="card mx-auto my-4" id="blog-card" style="max-width: 50rem">
        <div class="card-body">
          {{!-- <h5 class="card-title">Blog title</h5> --}}
          <h5 class="card-subtitle mb-2 text-muted">{{blog.username}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{blog.updated_at}}</h6>
          <p class="card-text px-3">
            {{content}}
          </p>
          <hr>
          {{!-- COMMENT ENTRY FORM --}}
          <form class="w-100 mb-5">
            <div class="mb-3">
            <label for="comment" class="form-label">Talk techie to us...</label>
            <input type="text" class="form-control" id="comment"/>
            </div>
        <button type="submit" class="btn btn-danger">Comment</button>
          </form>
          {{!-- COMMENTS --}}
          <div>
            <h3 class="mb-1">Comments</h3>
          </div>
          {{#each comments}}
          <div class="card mx-auto my-4" style="max-width: 50rem">
            <div class="card-body pt-4 pb-1">
          <h6 class="card-subtitle mb-2 text-muted">By {{user.username}} | {{formatDate updatedAt}}</h6>
          <p>{{comment}}</p>
            </div>
          </div> 
          {{/each}}
    </div>
</main>