<header>
  {{#if loggedIn}}
  {{> private-navbar}}
  {{else}}
  {{> public-navbar}}
  {{/if}}
</header>

<main>
  <h1 class="text-center my-4">{{blog.title}}</h1>
  <div class="card mx-auto my-4" id="blog-card" style="max-width: 50rem">
    <div class="card-body">
      <h5 class="card-subtitle mb-2 text-muted">By {{blog.user.username}}</h5>
      <h6 class="card-subtitle mb-4 text-muted">{{formatDate blog.updated_at}}</h6>
      <p class="card-text px-3">
        {{blog.content}}
      </p>
      <hr>

      {{!-- COMMENT ENTRY FORM --}}
      {{#if loggedIn}}
      <form class="w-100 mb-5">
        <div class="mb-3">
          <label for="comment" class="form-label">Talk techie to us...</label>
          <input type="text" class="form-control" id="new-comment-field" />
        </div>
        <button type="submit" name="add-comment-btn" class="btn btn-danger" id="{{blog.id}}">Comment</button>
      </form>
      {{/if}}

      {{!-- COMMENTS --}}
      <div>
        <h3 class="mb-1">Comments</h3>
      </div>
      {{#each blog.comments}}
      <div class="card mx-auto my-4" style="max-width: 50rem">
        <div class="card-body pt-4 pb-1">
          <h6 class="card-subtitle mb-2 text-muted">By {{user.username}} | {{formatDate updatedAt}}</h6>
          <p>{{comment}}</p>
          {{!-- pass loggedin user's username & commenter username --}}
          {{#if (isUserComment ../id user.id)}}
          <div class="d-flex justify-content-start mb-3">
            <a href="/comment/edit/{{id}}" id="edit-comment-btn" class=" btn btn-danger mt-2 mx-1">Edit</a>

            <button type="submit" data-blog="{{../blog.id}}" name="delete-comment-btn" id="{{id}}"
              class="btn btn-danger mt-2 mx-1">Delete</button>
          </div>
          {{/if}}
        </div>
      </div>
      {{/each}}
    </div>
</main>
{{>footer}}

{{! BOOTSTRAP JS }}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

{{! JQUERY }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/assets/js/index.js"></script>
<script src="/assets/js/comment.js"></script>